<mat-toolbar>
  <!-- <mat-grid-list cols="6">
    <mat-grid-tile [colspan]="1">1</mat-grid-tile>
    <mat-grid-tile [colspan]="5">2</mat-grid-tile>
  </mat-grid-list> -->
  <div>
    <img width="120" src="assets/img/logo.png" />
  </div>
  <span>
    Welcome to myFlix!
  </span>
  <div>    
    <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>    
  </div>
  <button
  mat-raised-button
  color="primary"
  (click)="openUserLoginDialog()"
  style="margin-right: 10px;"
>
  Login
</button>  
</mat-toolbar>