<app-navbar-component></app-navbar-component>
<div style="display: flex">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" width="200" />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="
          openMovieGenreDialog(movie.Genre.Name, movie.Genre.Description)
        "
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="
          openMovieDirectorDialog(movie.Director.Name, movie.Director.Bio)
        "
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie.Description)"
      >
        Synopsis
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="addToFavoriteMovies(movie._id)"
      >
        <mat-icon> {{isFavoriteMovie(movie._id) ? 'favorite' : 'favorite_border'}} </mat-icon>
        <!-- <mat-icon>favorite</mat-icon> -->
      </button>
    </mat-card-actions>
  </mat-card>
</div>
