button {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 20px;
  margin-top: 80px;
}
button:hover, button:active{
  color: lightgray;
}

mat-toolbar{
  background-color: #272030;
  border-radius: 8px;  
}

// @media(max-width: 959px){
//   mat-toolbar{
//       border-radius: 0px;
//   }
// }

mat-grid-list {  
  background-color: #272030;
  border-radius: 10px;
  margin: 12px 12px;  
}